{% extends "base.html" %}

{% load static %}

{% block content %}

        <header class="bg-dark py-5">
            <div class="container px-4 px-lg-5 my-5">
                <div class="text-center text-white">
                    <h1 class="display-4 fw-bolder">صورتحساب</h1>
                    <p class="lead fw-normal text-white-50 mb-0">سفارش خودتون رو بررسی کنید &#129488</p>
                </div>
            </div>
        </header>

<br>
<div class="container">
    <div class="row">
        <center>
            <div class="col-8">
                <div class="card">
                <div class="card-header">
                    خلاصه‌ی سفارشات شما:
                </div>
                <div class="card-body">
                    {% for product in cart_products %}
                        {{ product.name }} <br>
                        <small>
                            قیمت:
                            {% if product.is_sale %}
                                {{ product.sale_price }} تومان
                            {% else %}
                                {{ product.price }} تومان
                            {% endif %}
                        </small> <br>
                        <small>
                        تعداد:
                        {% for key,value in quantities.items %}
                          {% if key == product.id|slugify %}
                            {{ value }} عدد
                          {% endif %}
                        {% endfor %}
                        </small> <br>
                        <hr>
                    {% endfor %}
                    <strong>مجموع کل سفارشات: {{ total }} تومان</strong>
                    <br><br>
                    <a href="{% url 'cart_summary' %}" class="btn btn-sm btn-outline-secondary">ویرایش سفارش</a>
                </div>
                </div>
                <br>
                <div class="card">
                <div class="card-header">
                    مشخصات مربوط به ارسال:
                </div>
                <div class="card-body">
                    <form action="{% url 'confirm_order' %}" method="POST">
                        {% csrf_token %}
                    {{ shipping_form.as_p }}
                </div>
                </div>
            </div>
            <br>
            <button type="submit" class="btn btn-sm btn-outline-secondary">ادامه</a>
          </form>
        </center>
    </div>
</div>
<br><br><br><br><br>

{% endblock %}
